*{
    text-align: center;
}

.font-sans-serif-italicized{
    font-family: sans-serif;
    font-style: italic;
}

h1{
    color: white;
}

h2{
    color: white;
}

p{
    color: white;
}

a{
    color: white;
}
summary{
    color: white;
    cursor: pointer;
}


